.wrapper
  =render 'castles/topp'

  .name
    .name__header
      %h1.name__header_siromei 小田原城
    .name__header__adress
      %i.fa.fa-map-marker.name__header__adress_mark
      .name__header__adress_sales  〒250-0014 神奈川県小田原市城内6-1
      %i.fa.fa-clock-o.name__header__adress_clock
      .name__header__adress_time 営業時間 月~日 9:00~17:00

  .castle-photo
    .castle-photo__box
      = image_tag("photo/6-hdrimg-0.jpg")

  .detail
    .detail__point
      .detail__point_title 見所
      .detail__point_description
        %span
          江戸時代に造られた雛型や当時の建築の際に用いられた設計図を基に復元され、内部は歴史資料の展示施設となっています。常盤木門は小田原城本丸の二つの城門のうち正門にあたる非常に重要な防御拠点でした。そのためその構造は他の門よりも大きく堅固に作られていました。常盤木とは常緑広葉樹林の意味で、松の木が青々しい葉をつけて何十年も生長することから、小田原城の永久的な繁栄を願って名付けられたと言われています。

      -# .detail__point_detour.contory 寄り道
    .detail__history
      .detail__history_title 詳細
      .detail__history_comment
        %span
          小田原城は、15世紀の中頃に築かれたと言われています。しかし、小田原城は1870年に廃城となってしまいました。小田原城跡は、本丸と二の丸の大部分、総構の一部が国の史跡に指定されています。本丸を中心として整備された小田原城址公園は、地元の桜の名所としても有名で四季折々の花が楽しめます。また公園内には、子ども遊園地があり、甲冑着付け体験や手裏剣打ち体験もできる。電車でのアクセス：小田原駅(JR)
      -# .detail__history_money.fee 入場料
    .detail__map
      .detail__map_title お問い合わせ
      .detail__map_paste
        %iframe{:allowfullscreen => "", :frameborder => "0", :height => "450", :src => "https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3258.2115740001145!2d139.1513083794566!3d35.25099188039334!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6019a4f9eeaa0651%3A0x7abfbd1ba781f8c2!2z5bCP55Sw5Y6f5Z-O!5e0!3m2!1sja!2sjp!4v1562924298754!5m2!1sja!2sjp", :style => "border:0", :width => "600"}
      .detail__map_adress
        %i.fa.fa-map-marker.detail__map_adress_mark
        %span.detail__map_adress_code 〒250-0014 神奈川県小田原市城内6-1

  -# .word
  -#   .word__pillar
  -#     .word__pillar__mouse
  -#       .word__pillar__mouse_title
  -#         .word__pillar__mouse_title_text
  -#           口コミ
  -#     .word__pillar__container
  -#       .word__pillar__container__reviews
  -#         .word__pillar__container__reviews_name
  -#           %p.word__pillar__container__reviews_name_letter
  -#         .word__pillar__container__reviews_quoto
