.wrapper
  =render 'castle/topp'

  .name
    .name__header
      %h1.name__header_siromei 白河小峰城
    .name__header__adress
      %i.fa.fa-map-marker.name__header__adress_mark
      .name__header__adress_sales 〒961-0074 福島県白河市郭内
      %i.fa.fa-clock-o.name__header__adress_clock
      .name__header__adress_time 営業時間 月~日

  .castle-photo
    .castle-photo__box
      = image_tag("photo/c1cd16cd.jpg")

  .detail
    .detail__point
      .detail__point_title 見所
      .detail__point_description
        %span
          白河小峰城の見どころは、その美しい姿ではないでしょうか。特に幾重にも重なりあう黒い屋根の姿は、心を奪われる様に凛々しく映ります。天守の高さは14メートル、三層三階の櫓で構成されています。東北地方ではあまり見かけない、総石垣造りのお城で見応えがあります。

      -# .detail__point_detour.contory 寄り道
    .detail__history
      .detail__history_title 詳細
      .detail__history_comment
        %span
          白河小峰城（しらかわこみねじょう）は、福島県白河市（陸奥国白河郡白河）にあった日本の城。単に小峰城ともいう。同市内にある白川城址と区別するため、白河城とはあまり呼ばれない。国の史跡に指定されている。ほか、日本100名城の1つに含まれる。
      -# .detail__history_money.fee 入場料
    .detail__map
      .detail__map_title お問い合わせ
      .detail__map_paste
        %iframe{:allowfullscreen => "", :frameborder => "0", :height => "450", :src => "https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3180.8532304230616!2d140.21150857951363!3d37.13240667997997!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x60203aefe48a158d%3A0x2fe667feb86c300a!2z55m95rKz5bCP5bOw5Z-O!5e0!3m2!1sja!2sjp!4v1562924525073!5m2!1sja!2sjp", :style => "border:0", :width => "600"}
      .detail__map_adress
        %i.fa.fa-map-marker.detail__map_adress_mark
        %span.detail__map_adress_code 〒961-0074 福島県白河市郭内

  -# .word
  -#   .word__pillar
  -#     .word__pillar__mouse
  -#       .word__pillar__mouse_title
  -#         .word__pillar__mouse_title_text
  -#           口コミ
  -#     .word__pillar__container
  -#       .word__pillar__container__reviews
  -#         .word__pillar__container__reviews_name
  -#           %p.word__pillar__container__reviews_name_letter
  -#         .word__pillar__container__reviews_quoto
