.wrapper
  =render 'castles/topp'

  .name
    .name__header
      %h1.name__header_siromei 福山城
    .name__header__adress
      %i.fa.fa-map-marker.name__header__adress_mark
      .name__header__adress_sales  〒720-0061 広島県福山市丸之内一丁目8
      %i.fa.fa-clock-o.name__header__adress_clock
      .name__header__adress_time 営業時間 月~日 9:00~17:00

  .castle-photo
    .castle-photo__box
      = image_tag("photo/src_11059107.jpg")

  .detail
    .detail__point
      .detail__point_title 見所
      .detail__point_description
        %span
          ほとんどの建物は空襲で焼失してしまいましたが、伏見櫓は奇跡的に残り、国の重要文化財に指定されています。重厚感のある造りは、望楼型と呼ばれる古風な建築遺構です。
          %br
          伏見櫓と同じく、現存で国の重要文化財に指定されている筋金（すじがね）御門。伏見櫓と繋がっており、内枡形を形成しています。枡形とは、周囲を囲まれ侵入してくる敵兵を一網打尽に撃破するトラップ。城内からの攻撃を想像することで何倍も楽しくなります。

      -# .detail__point_detour.contory 寄り道
    .detail__history
      .detail__history_title 詳細
      .detail__history_comment
        %span
          福山城は広島県福山市に位置しています。1619年に徳川幕府から西国鎮護の拠点として備後10万石の領主として水野勝成が入府し、1622年に完成、江戸時代最後に建てられたお城です。1873年に廃城、1945年8月の空襲により、国宝に指定されていた天守閣と御湯殿も焼失しました。1966年、市制50周年事業として天守閣と御湯殿、月見櫓が復元されました。天守閣は福山城博物館として運営、藩主の書画・甲冑などが展示されています。(2018年時点)電車でのアクセス：福山駅(JR)
      -# .detail__history_money.fee 入場料
    .detail__map
      .detail__map_title お問い合わせ
      .detail__map_paste
        %iframe{:allowfullscreen => "", :frameborder => "0", :height => "450", :src => "https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3288.4910046420678!2d133.35912157943423!3d34.49043443058454!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x355110e4fd7277c9%3A0x89bc3b6f95d44c82!2z56aP5bGx5Z-O!5e0!3m2!1sja!2sjp!4v1562921767702!5m2!1sja!2sjp", :style => "border:0", :width => "600"}
      .detail__map_adress
        %i.fa.fa-map-marker.detail__map_adress_mark
        %span.detail__map_adress_code 〒720-0061 広島県福山市丸之内一丁目8

  -# .word
  -#   .word__pillar
  -#     .word__pillar__mouse
  -#       .word__pillar__mouse_title
  -#         .word__pillar__mouse_title_text
  -#           口コミ
  -#     .word__pillar__container
  -#       .word__pillar__container__reviews
  -#         .word__pillar__container__reviews_name
  -#           %p.word__pillar__container__reviews_name_letter
  -#         .word__pillar__container__reviews_quoto
