.wrapper
  =render 'castle/topp'

  .name
    .name__header
      %h1.name__header_siromei 上田城
    .name__header__adress
      %i.fa.fa-map-marker.name__header__adress_mark
      .name__header__adress_sales 〒386-0026 長野県上田市二の丸
      %i.fa.fa-clock-o.name__header__adress_clock
      .name__header__adress_time 営業時間 月~日

  .castle-photo
    .castle-photo__box
      = image_tag("photo/04_01_01.jpg")

  .detail
    .detail__point
      .detail__point_title 見所
      .detail__point_description
        %span
          上田城跡公園では春（4月上旬～下旬）には上田城千本桜まつりが、秋（11月上旬）には上田城けやき並木紅葉まつりが催され多くの人でにぎわいます。また、毎年4月下旬には上田真田まつりが行われ、真田鉄砲隊による演武や真田武者行列などで市内が盛り上がります。上田城には天守はありませんが、櫓門が1基（東虎口櫓門）、隅櫓が3基（北櫓、南櫓、西櫓）残されています。このうち、東虎口櫓門の両脇に建つ北櫓と南櫓は入館料を払って内部を見ることができます。

      -# .detail__point_detour.contory 寄り道
    .detail__history
      .detail__history_title 詳細
      .detail__history_comment
        %span
          上田城（うえだじょう）は長野県上田市二の丸（旧・信濃国小県郡上田）にあった日本の城である。なお、現在残っている城は、仙石忠政によって江戸時代初期の寛永年間に再建築城されたものである。
      -# .detail__history_money.fee 入場料
    .detail__map
      .detail__map_title お問い合わせ
      .detail__map_paste
        %iframe{:allowfullscreen => "", :frameborder => "0", :height => "450", :src => "https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3211.2010589484084!2d138.24238337949132!3d36.404330530129776!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x44a58d25bd1704c!2z5LiK55Sw5Z-O5pys5Li46Leh!5e0!3m2!1sja!2sjp!4v1562924741019!5m2!1sja!2sjp", :style => "border:0", :width => "600"}
      .detail__map_adress
        %i.fa.fa-map-marker.detail__map_adress_mark
        %span.detail__map_adress_code 〒386-0026 長野県上田市二の丸

  -# .word
  -#   .word__pillar
  -#     .word__pillar__mouse
  -#       .word__pillar__mouse_title
  -#         .word__pillar__mouse_title_text
  -#           口コミ
  -#     .word__pillar__container
  -#       .word__pillar__container__reviews
  -#         .word__pillar__container__reviews_name
  -#           %p.word__pillar__container__reviews_name_letter
  -#         .word__pillar__container__reviews_quoto
