.wrapper
  =render 'castle/topp'

  .name
    .name__header
      %h1.name__header_siromei 広島城
    .name__header__adress
      %i.fa.fa-map-marker.name__header__adress_mark
      .name__header__adress_sales 〒730-0011 広島県広島市中区基町21-1Naka Ward
      %i.fa.fa-clock-o.name__header__adress_clock
      .name__header__adress_time 営業時間 月~日 9:00~17:00

  .castle-photo
    .castle-photo__box
      = image_tag("photo/054cbbf5.jpg")

  .detail
    .detail__point
      .detail__point_title 見所
      .detail__point_description
        %span
          天守閣内部は歴史博物館になっていて、広島の発展や武家文化を伝える内容が充実し、見応え十分。望楼となっている最上階は広島の町が一望でき、ムシ暑い真夏の広島でも、風の涼しさを感じることができます。
          %br
          最大88もあったとされる広島城の櫓。全国でも屈指の数です。その全ては現存せず、往時を偲ぶ縁（よすが）となるのが、お堀の外周から眺めることのできる、古してなお壮麗に佇む石垣です。

      -# .detail__point_detour.contory 寄り道
    .detail__history
      .detail__history_title 詳細
      .detail__history_comment
        %span
          広島城（ひろしまじょう）は、現在の広島県広島市中区基町に築かれた安土桃山時代から江戸時代の日本の城。国の史跡に指定されている。毛利輝元が太田川河口のデルタ地帯に築いた平城で、1945年（昭和20年）まで天守を始めとする城郭建築が現存し点在していたが[2]、太平洋戦争末期にアメリカ軍の原子爆弾投下によって倒壊し、現在見られる城内の天守以下城郭建築はすべて1958年以降に再建されたものである。
      -# .detail__history_money.fee 入場料
    .detail__map
      .detail__map_title お問い合わせ
      .detail__map_paste
      .detail__map_adress
        %i.fa.fa-map-marker.detail__map_adress_mark
        %span.detail__map_adress_code 〒730-0011 広島県広島市中区基町21-1Naka Ward

  -# .word
  -#   .word__pillar
  -#     .word__pillar__mouse
  -#       .word__pillar__mouse_title
  -#         .word__pillar__mouse_title_text
  -#           口コミ
  -#     .word__pillar__container
  -#       .word__pillar__container__reviews
  -#         .word__pillar__container__reviews_name
  -#           %p.word__pillar__container__reviews_name_letter
  -#         .word__pillar__container__reviews_quoto
