.top-pape
  %header.top-pape__site
    %h1.top-pape__site_title
      %a{href: "/"}Castle
    %nav.side-warap
      %ul.side-warap__bar
        %li
          %h2
            .side-warap__bar_parent
              %i.fa.fa-bars.tag-icon
          %ul.side-warap__bar_mega
            %li.side-warap__bar_mega_list
              %h3
                北海道地方
              %ul.side-warap__bar_mega_list_second
                %li.side-warap__bar_mega_list_second_post
                  .side-warap__bar_mega_list_second_post_category
                    松前城
            %li.side-warap__bar_mega_list
              %h3
                東北地方
              %ul.side-warap__bar_mega_list_second
                %li.side-warap__bar_mega_list_second_post
                  .side-warap__bar_mega_list_second_post_category
                    弘前城
                %li.side-warap__bar_mega_list_second_post
                  .side-warap__bar_mega_list_second_post_category
                    丸岡城
                %li.side-warap__bar_mega_list_second_post
                  .side-warap__bar_mega_list_second_post_category
                    白石城
                %li.side-warap__bar_mega_list_second_post
                  .side-warap__bar_mega_list_second_post_category
                    白河小峰城
                %li.side-warap__bar_mega_list_second_post
                  .side-warap__bar_mega_list_second_post_category
                    会津若松城
            %li.side-warap__bar_mega_list
              %h3
                関東地方
              %ul.side-warap__bar_mega_list_second
                %li.side-warap__bar_mega_list_second_post
                  .side-warap__bar_mega_list_second_post_category
                    小田原城
            %li.side-warap__bar_mega_list
              %h3
                中部地方
              %ul.side-warap__bar_mega_list_second
                %li.side-warap__bar_mega_list_second_post
                  .side-warap__bar_mega_list_second_post_category
                    名古屋城
                %li.side-warap__bar_mega_list_second_post
                  .side-warap__bar_mega_list_second_post_category
                    岐阜城
                %li.side-warap__bar_mega_list_second_post
                  .side-warap__bar_mega_list_second_post_category
                    犬山城
                %li.side-warap__bar_mega_list_second_post
                  .side-warap__bar_mega_list_second_post_category
                    松本城
                %li.side-warap__bar_mega_list_second_post
                  .side-warap__bar_mega_list_second_post_category
                    上田城
                %li.side-warap__bar_mega_list_second_post
                  .side-warap__bar_mega_list_second_post_category
                    掛川城
            %li.side-warap__bar_mega_list
              %h3
                近畿地方
              %ul.side-warap__bar_mega_list_second
                %li.side-warap__bar_mega_list_second_post
                  .side-warap__bar_mega_list_second_post_category
                    大阪城
                %li.side-warap__bar_mega_list_second_post
                  .side-warap__bar_mega_list_second_post_category
                    姫路城
                %li.side-warap__bar_mega_list_second_post
                  .side-warap__bar_mega_list_second_post_category
                    彦根城
                %li.side-warap__bar_mega_list_second_post
                  .side-warap__bar_mega_list_second_post_category
                    竹田城跡
                %li.side-warap__bar_mega_list_second_post
                  .side-warap__bar_mega_list_second_post_category
                    二条城
            %li.side-warap__bar_mega_list
              %h3
                中国地方
              %ul.side-warap__bar_mega_list_second
                %li.side-warap__bar_mega_list_second_post
                  .side-warap__bar_mega_list_second_post_category
                    松江城
                %li.side-warap__bar_mega_list_second_post
                  .side-warap__bar_mega_list_second_post_category
                    備中松山城
                %li.side-warap__bar_mega_list_second_post
                  .side-warap__bar_mega_list_second_post_category
                    広島城
                %li.side-warap__bar_mega_list_second_post
                  .side-warap__bar_mega_list_second_post_category
                    岡山城
                %li.side-warap__bar_mega_list_second_post
                  .side-warap__bar_mega_list_second_post_category
                    福山城
            %li.side-warap__bar_mega_list
              %h3
                四国地方
              %ul.side-warap__bar_mega_list_second
                %li.side-warap__bar_mega_list_second_post
                  .side-warap__bar_mega_list_second_post_category
                    伊予松山城
                %li.side-warap__bar_mega_list_second_post
                  .side-warap__bar_mega_list_second_post_category
                    丸亀城
                %li.side-warap__bar_mega_list_second_post
                  .side-warap__bar_mega_list_second_post_category
                    宇和島城
                %li.side-warap__bar_mega_list_second_post
                  .side-warap__bar_mega_list_second_post_category
                    高知城
            %li.side-warap__bar_mega_list
              %h3
                九州地方
              %ul.side-warap__bar_mega_list_second
                %li.side-warap__bar_mega_list_second_post
                  .side-warap__bar_mega_list_second_post_category
                    熊本城



