.top-pape
  %header.top-pape__site
    %h1.top-pape__site_title
      %a{href: "/"}Castle
      %i.fa.fa-bars.tag-icon
    %nav.side-warap
      %ul.side-warap__bar
        %li.side-warap__bar_list
          %h3
            北海道地方
            %ul
              %li
        %li.side-warap__bar_list
          %h3
            東北地方
        %li.side-warap__bar_list
          %h3
            関東地方
        %li.side-warap__bar_list
          %h3
            中部地方
        %li.side-warap__bar_list
          %h3
            近畿地方
        %li.side-warap__bar_list
          %h3
            中国地方
        %li.side-warap__bar_list
          %h3
            四国地方
        %li.side-warap__bar_list
          %h3
            九州地方
          



