.wrapper
  =render 'topp'
  
  .top-inner
    .top-inner_clip
      %ul.category
        %li.category-web
          .figure
            %a{href: "https://ja.wikipedia.org/wiki/%E5%A4%A7%E5%9D%82%E5%9F%8E"}
              %img{src: "/assets/gaikan_003-2-1.jpg",width:"400",height:"300"}
              %p 大阪城
        %li.category-web
          .figure
            %a{href:"https://ja.wikipedia.org/wiki/%E5%A7%AB%E8%B7%AF%E5%9F%8E"}
              %img{src:"/assets/22106-06ufbtXC7xBz19vb02yE_lrg_re.jpg",width: "400",height: "300"}
              %p 姫路城
        %li.category-web
          .figure
            %a{href: "https://ja.wikipedia.org/wiki/%E5%90%8D%E5%8F%A4%E5%B1%8B%E5%9F%8E"}
              %img{src: "/assets/nagoyajo-sakematsuri1.jpg",width: "400",height: "300"}
              %p 名古屋城
        %li.category-web
          .figure
            %a{href: "https://ja.wikipedia.org/wiki/%E5%BD%A6%E6%A0%B9%E5%9F%8E"}
              %img{src: "/assets/pic30_06main.jpg",width: "400",height: "300"}
              %p 彦根城
        %li.category-web
          .figure
            %a{href:"https://ja.wikipedia.org/wiki/%E6%9D%BE%E5%B1%B1%E5%9F%8E_(%E4%BC%8A%E4%BA%88%E5%9B%BD)"}
              %img{src: "/assets/matuyama.jpeg",width: "400",height: "300"}
              %p 松山城
        %li.category-web
          .figure
            %a{href:  "https://ja.wikipedia.org/wiki/%E5%B2%90%E9%98%9C%E5%9F%8E"}
              %img{src: "/assets/100174.jpg",width:"400",height: "300"}
              %p 岐阜城
        %li.category-web
          .figure
            %a{href: "https://ja.wikipedia.org/wiki/%E7%AB%B9%E7%94%B0%E5%9F%8E"}
              %img{src: "/assets/600px-竹田城.jpeg",width: "400",height: "300"}
              %p 竹田城
        %li.category-web
          .figure
            %a{href: "/https://ja.wikipedia.org/wiki/%E6%9D%BE%E6%9C%AC%E5%9F%8E"}
              %img{src: "/assets/130608_Matsumoto_Castle_Matsumoto_Nagano_pref_Japan02bs4.jpg", width: "400", height: "300"}
              %p 松本城
        %li.category-web
          .figure
            %a{href: "https://ja.wikipedia.org/wiki/%E7%86%8A%E6%9C%AC%E5%9F%8E"}
              %img{src: "/assets/熊本城.jpeg",width: "400", height: "300"}
              %p 熊本城
        %li.category-web
          .figure
            %a{href: "https://ja.wikipedia.org/wiki/%E7%8A%AC%E5%B1%B1%E5%9F%8E"}
              %img{src: "/assets/犬山城.jpeg",width: "400",height: "300"}
              %p 犬山城
        %li.category-web
          .figure
            %a{href: "https://ja.wikipedia.org/wiki/%E4%BA%8C%E6%9D%A1%E5%9F%8E"}
              %img{src: "/assets/1920px-Nijo-jo_Ninomaru-goten_2009.jpg",width: "400", height: "300"}
              %p 二条城
        %li.category-web
          .figure
            %a{href: "https://ja.wikipedia.org/wiki/%E4%B8%8A%E7%94%B0%E5%9F%8E"}
              %img{src: "/assets/1920px-Ueda_Castle_Amagafuchi.jpg",width: "400", height: "300"}
              %p 上田城
    .footer_clip
      =render 'under'




