.wrapper
  =render 'castle/topp'

  .name
    .name__header
      %h1.name__header_siromei 姫路城
    .name__header__adress
      %i.fa.fa-map-marker.name__header__adress_mark
      .name__header__adress_sales 〒670-0012 兵庫県姫路市本町68
      %i.fa.fa-clock-o.name__header__adress_clock
      .name__header__adress_time 営業時間 月~日 9:00~16:00

  .castle-photo
    .castle-photo__box
      = image_tag("photo/bg_mainimg.jpg")

  .detail
    .detail__point
      .detail__point_title 見所
      .detail__point_description
        %span
          全体的に白いことや修築したことで、とても美しい城であることが特徴。
          %br
          大天守を中心に、櫓・門・土塀等の建造物や石垣・堀などの土木建造物が良好的に保存されている。
          %br
          たくさんの門や塀は敵を迎え撃つために設けられており、観光の際にはそのことも考えて歩くとより楽しむことができる。


      -# .detail__point_detour.contory 寄り道
    .detail__history
      .detail__history_title 詳細
      .detail__history_comment
        %span
          姫路城（ひめじじょう）は、兵庫県の姫路市にある日本の城。江戸時代初期に建てられた天守や櫓等の主要建築物が現存し、国宝や重要文化財に指定されている。また、主郭部を含む中堀の内側は「姫路城跡」として国の特別史跡に指定されている[8][9]。また、ユネスコの世界遺産リストにも登録され[10][11]、日本100名城[12]などに選定されている。別名を白鷺城（はくろじょう・しらさぎじょう。詳細は名称の由来と別名を参照）という。(Wikipedia引用)
      -# .detail__history_money.fee 入場料
    .detail__map
      .detail__map_title お問い合わせ
      .detail__map_paste
      .detail__map_adress
        %i.fa.fa-map-marker.detail__map_adress_mark
        %span.detail__map_adress_code 〒670-0012 兵庫県姫路市本町68

  -# .word
  -#   .word__pillar
  -#     .word__pillar__mouse
  -#       .word__pillar__mouse_title
  -#         .word__pillar__mouse_title_text
  -#           口コミ
  -#     .word__pillar__container
  -#       .word__pillar__container__reviews
  -#         .word__pillar__container__reviews_name
  -#           %p.word__pillar__container__reviews_name_letter
  -#         .word__pillar__container__reviews_quoto
