.wrapper
  =render 'castle/topp'

  .name
    .name__header
      %h1.name__header_siromei 丸亀城
    .name__header__adress
      %i.fa.fa-map-marker.name__header__adress_mark
      .name__header__adress_sales 〒763-0025 香川県丸亀市一番丁
      %i.fa.fa-clock-o.name__header__adress_clock
      .name__header__adress_time 営業時間 月~日 9:00~16:00

  .castle-photo
    .castle-photo__box
      = image_tag("photo/img_ogp.jpg")

  .detail
    .detail__point
      .detail__point_title 見所
      .detail__point_description
        %span 丸亀城の見どころはたくさんあり、大手一の門や国宝に指定されている天守の他にも、「石垣の名城」と言われているだけあり、石垣も外すことができません。江戸時代初期の城郭石垣の最高技術を駆使して作られており、高く美しい曲線などを見られます。また、敷地内には、丸亀市立資料館もあり、歴史資料や民俗資料などさまざまな資料を見られます。
          

      -# .detail__point_detour.contory 寄り道
    .detail__history
      .detail__history_title 詳細
      .detail__history_comment
        %span
          丸亀城は、日本の100名城にも選ばれ、標高約66メートルで高く美しい曲線が特長で石垣の名城と形容され高さは日本一です。江戸時代初期の城郭の石垣を築く技術が最高水準に達したときに作られたもので、切り込みハギ、野面積み、高石垣と算木積みなどの様々な技術の美しい石垣をみることができます。大手門から山上に向かう傾斜が急な坂道は立ち止まって振り返りたくなることから見返り坂と呼ばれ、道沿いには四季折々の花や木々が頭上まで覆う。
      -# .detail__history_money.fee 入場料
    .detail__map
      .detail__map_title お問い合わせ
      .detail__map_paste
        %iframe{:allowfullscreen => "", :frameborder => "0", :height => "450", :src => "https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3296.53307066169!2d133.7980977794282!3d34.2859571806382!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3553d887ddde8939%3A0x2858588e39596e2b!2z5Li45LqA5Z-O!5e0!3m2!1sja!2sjp!4v1562923495765!5m2!1sja!2sjp", :style => "border:0", :width => "600"}
      .detail__map_adress
        %i.fa.fa-map-marker.detail__map_adress_mark
        %span.detail__map_adress_code 〒763-0025 香川県丸亀市一番丁

  -# .word
  -#   .word__pillar
  -#     .word__pillar__mouse
  -#       .word__pillar__mouse_title
  -#         .word__pillar__mouse_title_text
  -#           口コミ
  -#     .word__pillar__container
  -#       .word__pillar__container__reviews
  -#         .word__pillar__container__reviews_name
  -#           %p.word__pillar__container__reviews_name_letter
  -#         .word__pillar__container__reviews_quoto
