.wrapper
  =render 'castle/topp'

  .name
    .name__header
      %h1.name__header_siromei 丸岡城
    .name__header__adress
      %i.fa.fa-map-marker.name__header__adress_mark
      .name__header__adress_sales 〒福井県坂井市丸岡町霞町1-59
      %i.fa.fa-clock-o.name__header__adress_clock
      .name__header__adress_time 営業時間 月~日 8:30~17:00

  .castle-photo
    .castle-photo__box
      = image_tag("photo/HU011201.jpg")

  .detail
    .detail__point
      .detail__point_title 見所
      .detail__point_description
        %span
          望楼は、ふもとから約35ｍの高さ。天気が良ければ四方の窓が開け放たれ、当時の城主が眺めたものと同様の丸岡の町並み、坂井平野の田園風景、かつて豊原寺があった山並みを、さえぎるものなく見渡せます。
          %br
          江戸時代につくられた城は、城主の権威を示すため、大きく立派で多層式のものが目立ちますが、丸岡城内は戦国時代の雰囲気。豪華さや優美さより、いたる所にある敵に対する備えの方が目を引きます。

      -# .detail__point_detour.contory 寄り道
    .detail__history
      .detail__history_title 詳細
      .detail__history_comment
        %span
          福井県坂井市にある丸岡城は、現存する天守閣では最も古く、その建築様式は歴史的にも価値があります。1576年に柴田勝家が甥の勝豊に築かせたもので、国の重要文化財です。石垣は”野づら積み”と呼ばれる方式で、すき間が多く雑な印象を受けますが、排水が良く大雨で崩れにくいと言われています。春には城の周囲の敷地に植えられた数百本の桜が城を包み込み、丸岡城桜まつりも開催されています。電車でのアクセス：芦原温泉駅(JR) 福井駅(JR)からバスなど
      -# .detail__history_money.fee 入場料
    .detail__map
      .detail__map_title お問い合わせ
      .detail__map_paste
      .detail__map_adress
        %i.fa.fa-map-marker.detail__map_adress_mark
        %span.detail__map_adress_code 〒福井県坂井市丸岡町霞町1-59

  -# .word
  -#   .word__pillar
  -#     .word__pillar__mouse
  -#       .word__pillar__mouse_title
  -#         .word__pillar__mouse_title_text
  -#           口コミ
  -#     .word__pillar__container
  -#       .word__pillar__container__reviews
  -#         .word__pillar__container__reviews_name
  -#           %p.word__pillar__container__reviews_name_letter
  -#         .word__pillar__container__reviews_quoto
