.wrapper
  =render 'castles/topp'

  .name
    .name__header
      %h1.name__header_siromei 岐阜城
    .name__header__adress
      %i.fa.fa-map-marker.name__header__adress_mark
      .name__header__adress_sales 岐阜県岐阜市金華山天守閣18
      %i.fa.fa-clock-o.name__header__adress_clock
      .name__header__adress_time 営業時間 月~日 9:30~16:30

  .castle-photo
    .castle-photo__box
      = image_tag("photo/350098ed41e135b798d0c538ce84e40d.jpg")

  .detail
    .detail__point
      .detail__point_title 見所
      .detail__point_description
        %span
          岐阜城は、標高329ｍの金華山（稲葉山）山頂に築かれた山城です。金華山はかつて⌈一石山（いっせきざん）⌋と呼ばれたように一つの岩塊で成り立っており、山裾には清流長良川が流れています。天然の要害に囲まれた岐阜城は難攻不落の城と言われていました。天守閣から見る景色は絶景で昼夜問わず楽しむことができます。
          %br
          伝一ノ門跡や伝二ノ門・下台所跡、本丸井戸などが残されています。また、山頂駅付近には金華山リス村があり、直にリスと触れ合うこともできます。

      -# .detail__point_detour.contory 寄り道
    .detail__history
      .detail__history_title 詳細
      .detail__history_comment
        %span
          岐阜城は、岐阜県岐阜市（旧・美濃国井之口）の金華山（稲葉山）にあった日本の城（山城跡）。織田信長が、斎藤龍興から奪取した稲葉山城の縄張りを破却して、新たに造営したものが岐阜城である。城跡は岐阜城跡として金華山と、その山塊の2,091,602.74平方メートルが国の史跡に指定されている。その範囲は、現在の国有林の範囲に符合する。『信長公記』に、「尾張国小真木山より濃州稲葉山へ御越しなり。井口と申すを今度改めて、岐阜と名付けさせられ」と記載されている。稲葉山（井口山）からの続きが瑞龍寺山という。(Wikipedia引用)
      -# .detail__history_money.fee 入場料
    .detail__map
      .detail__map_title お問い合わせ
      .detail__map_paste
        %iframe{:allowfullscreen => "", :frameborder => "0", :height => "450", :src => "https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3250.8430421056955!2d136.77988261525192!3d35.4339179802527!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6003a9798f2e0eab%3A0x2871c3655542c94a!2z5bKQ6Zic5Z-O!5e0!3m2!1sja!2sjp!4v1562920981250!5m2!1sja!2sjp", :style => "border:0", :width => "600"}
      .detail__map_adress
        %i.fa.fa-map-marker.detail__map_adress_mark
        %span.detail__map_adress_code 岐阜県岐阜市金華山天守閣18

  -# .word
  -#   .word__pillar
  -#     .word__pillar__mouse
  -#       .word__pillar__mouse_title
  -#         .word__pillar__mouse_title_text
  -#           口コミ
  -#     .word__pillar__container
  -#       .word__pillar__container__reviews
  -#         .word__pillar__container__reviews_name
  -#           %p.word__pillar__container__reviews_name_letter
  -#         .word__pillar__container__reviews_quoto
