.wrapper
  =render 'castle/topp'

  .name
    .name__header
      %h1.name__header_siromei 彦根城
    .name__header__adress
      %i.fa.fa-map-marker.name__header__adress_mark
      .name__header__adress_sales  〒522-0061 滋賀県彦根市金亀町1-1
      %i.fa.fa-clock-o.name__header__adress_clock
      .name__header__adress_time 営業時間 月~日 8:30~17:00

  .castle-photo
    .castle-photo__box
      = image_tag("photo/fUEGpvh8mqy2CtU8SriTe806KrjuKLEc6heOX3iO86OIqiCliCXcrXFVvZ6DsI5K.jpeg")

  .detail
    .detail__point
      .detail__point_title 見所
      .detail__point_description
        %span
          廃城令により全国の城が取り壊されていく中、大隈重信が視察に来た際にその消失を惜しみ、明治天皇に上奏し取り壊しを免れたと言われる。
          %br
          国宝に指定された三重三階の天守です。牛蒡積みと呼ばれる石垣の上に築かれた天守には3種の破風様式が取り入れられ、二重目以上の窓には曲線の美しい華頭窓が使われています。その外観は実に壮麗です。また、天守の内部には鉄砲狭間や矢狭間が数多く備えられており、美しいだけでなく実戦的な構造となっています。天守の内部は見学することができます。

      -# .detail__point_detour.contory 寄り道
    .detail__history
      .detail__history_title 詳細
      .detail__history_comment
        %span
          彦根城（ひこね じょう）は、滋賀県彦根市にある城である。江戸時代には彦根藩の政庁が置かれた。天守、附櫓及び多聞櫓は国宝、城跡は特別史跡かつ琵琶湖国定公園第1種特別地域である。天守が国宝指定された5城のうちの一つである（他は犬山城、松本城、姫路城、松江城）。(Wikipedia引用)
      -# .detail__history_money.fee 入場料
    .detail__map
      .detail__map_title お問い合わせ
      .detail__map_paste
        %iframe{:allowfullscreen => "", :frameborder => "0", :height => "450", :src => "https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3257.1879916143866!2d136.2496626794573!3d35.27645198038708!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x60022b2b5dbfdbc3%3A0xee2a210b78298c30!2z5b2m5qC55Z-O!5e0!3m2!1sja!2sjp!4v1562921126603!5m2!1sja!2sjp", :style => "border:0", :width => "600"}
      .detail__map_adress
        %i.fa.fa-map-marker.detail__map_adress_mark
        %span.detail__map_adress_code 〒522-0061 滋賀県彦根市金亀町1-1

  -# .word
  -#   .word__pillar
  -#     .word__pillar__mouse
  -#       .word__pillar__mouse_title
  -#         .word__pillar__mouse_title_text
  -#           口コミ
  -#     .word__pillar__container
  -#       .word__pillar__container__reviews
  -#         .word__pillar__container__reviews_name
  -#           %p.word__pillar__container__reviews_name_letter
  -#         .word__pillar__container__reviews_quoto
