.wrapper
  =render 'castles/topp'

  .name
    .name__header
      %h1.name__header_siromei 大阪城
    .name__header__adress
      %i.fa.fa-map-marker.name__header__adress_mark
      .name__header__adress_sales  〒540-0002 大阪府大阪市中央区大阪城１−１
      %i.fa.fa-clock-o.name__header__adress_clock
      .name__header__adress_time 営業時間 月~日 9:00 ~ 17:00

  .castle-photo
    .castle-photo__box
      = image_tag("photo/top_img01.jpg")

  .detail
    .detail__point
      .detail__point_title 見所
      .detail__point_description
        %span
          エレベーターが配置されているので足腰が悪い方でも見学することができる。
          %br
          堀や門の位置などは江戸時代からあまり変わっておらず、展望台から見ることで人が入ってきて場所や手薄の場所を考えることができ感慨深い。
          %br
          城内では、秀吉公のプロジェクターが見ることができ生涯を知ることができる。教科書で習ったことを立体的に見ることができるので夢中に見れるはずだ。

      -# .detail__point_detour.contory 寄り道
    .detail__history
      .detail__history_title 詳細
      .detail__history_comment
        %span
          「太閤はんのお城」と親しみを込めて呼ばれることもあるが、1583年（天正11年）から1598年（慶長3年）にかけて豊臣秀吉が築いた大坂城（豊臣大坂城）の遺構は、現在全て埋没している。現在地表に見ることのできる大坂城の遺構は、1620年（元和6年）から1629年（寛永6年）にかけて徳川秀忠が実質的な新築に相当する修築を施した大坂城（徳川大坂城）の遺構である。(wikipedia引用)
      -# .detail__history_money.fee 入場料
    .detail__map
      .detail__map_title お問い合わせ
      .detail__map_paste
        %iframe{:allowfullscreen => "", :frameborder => "0", :height => "450", :src => "https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d26247.393044654487!2d135.4974402998704!3d34.68186425422633!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6000e0cd5c283afd%3A0xf01d07d5ca11e41!2z5aSn6Ziq5Z-O!5e0!3m2!1sja!2sjp!4v1562924460385!5m2!1sja!2sjp", :style => "border:0", :width => "600"}
      .detail__map_adress
        %i.fa.fa-map-marker.detail__map_adress_mark
        %span.detail__map_adress_code 〒540-0002 大阪府大阪市中央区大阪城１−１
