.wrapper
  =render 'topp'
  
  .top-inner
    .top-inner_clip
      %ul.category
        %li.category-web
          .figure
            %a{href: "https://ja.wikipedia.org/wiki/%E5%BA%83%E5%B3%B6%E5%9F%8E"}
              %img{src: "/assets/500px-Hiroshima-castle-daihonei.jpg",width: "400",height: "300"}
              %p 広島城
        %li.category-web
          .figure
            %a{href: "https://ja.wikipedia.org/wiki/%E5%B2%A1%E5%B1%B1%E5%9F%8E"}
              %img{src: "/assets/520px-Okayama_Castle_02.jpg",width: "400",height: "300"}
              %p 岡山城
        %li.category-web
          .figure
            %a{href: "https://ja.wikipedia.org/wiki/%E5%B0%8F%E7%94%B0%E5%8E%9F%E5%9F%8E"}
              %img{src: "/assets/小田原城.jpeg",width: "400",height: "300"}
              %p 小田原城
        %li.category-web
          .figure
            %a{href: "https://ja.wikipedia.org/wiki/%E7%A6%8F%E5%B1%B1%E5%9F%8E_(%E5%82%99%E5%BE%8C%E5%9B%BD)"}
              %img{src: "/assets/520px-Fukuyamajyou7055.jpeg",width: "400",height: "300"}
              %p 福山城
    .footer_clip
      =render 'under'