.wrapper
  =render 'topp'
  
  .top-inner
    .top-inner_clip
      %ul.category
        %li.category-web
          .figure
            %a{href: "https://ja.wikipedia.org/wiki/%E5%BC%98%E5%89%8D%E5%9F%8E"}
              %img{src: "/assets/520px-Hirosaki-castle_Aomori_JAPAN.jpg",width:"400",height:"300"}
              %p 弘前城
        %li.category-web
          .figure
            %a{href: "https://ja.wikipedia.org/wiki/%E4%B8%B8%E5%B2%A1%E5%9F%8E"}
              %img{src: "/assets/520px-Maruoka_Castle_20100529-01.jpg",width: "400",height: "300"}
              %p 丸岡城
        %li.category-web
          .figure
            %a{href: "https://ja.wikipedia.org/wiki/%E6%9D%BE%E6%B1%9F%E5%9F%8E"}
              %img{src: "/assets/600px-150321_Matsue_Castle_Matsue_Shimane_pref_Japan01bs.jpg",width: "400",height: "300"}
              %p 松江城
        %li.category-web
          .figure
            %a{href: "https://ja.wikipedia.org/wiki/%E6%9D%BE%E5%B1%B1%E5%9F%8E_(%E5%82%99%E4%B8%AD%E5%9B%BD)"}
              %img{src: "/assets/520px-Bitchu_Matsuyama_Castle_1.jpeg",width: "400",height: "300"}
              %p 備中松山城
        %li.category-web
          .figure
            %a{href:"https://ja.wikipedia.org/wiki/%E4%B8%B8%E4%BA%80%E5%9F%8E"}
              %img{src: "/assets/520px-Bitchu_Matsuyama_Castle_1.jpeg",width: "400",height: "300"}
              %p 丸亀城
        %li.category-web
          .figure
            %a{href:"https://ja.wikipedia.org/wiki/%E5%AE%87%E5%92%8C%E5%B3%B6%E5%9F%8E"}
              %img{src: "/assets/520px-Uwazimacastle_tensyu.jpeg",width: "400",height: "300"}
              %p 宇和島城
        %li.category-web
          .figure
            %a{href: "https://ja.wikipedia.org/wiki/%E9%AB%98%E7%9F%A5%E5%9F%8E"}
              %img{src: "/assets/520px-Kochi_Castle09.jpeg",width: "400", height: "300"}
              %p 高知城
        %li.category-web
          .figure
            %a{href: "https://ja.wikipedia.org/wiki/%E7%99%BD%E7%9F%B3%E5%9F%8E"}
              %img{src: "/assets/520px-Shiroishi_Castle.jpeg",width: "400", height: "300"}
              %p 白石城
        %li.category-web
          .figure
            %a{href: "https://ja.wikipedia.org/wiki/%E7%99%BD%E6%B2%B3%E5%B0%8F%E5%B3%B0%E5%9F%8E"}
              %img{src: "/assets/500px-Shirakawa_Komine_Castle_20100625-01.jpg",width: "400",height: "300"}
              %p 白河小峰城
        %li.category-web
          .figure
            %a{href: "https://ja.wikipedia.org/wiki/%E6%8E%9B%E5%B7%9D%E5%9F%8E"}
              %img{src: "/assets/520px-Kakegawajo.jpg",width: "400",height: "300"}
              %p 掛川城
        %li.category-web
          .figure
            %a{href: "https://ja.wikipedia.org/wiki/%E6%9D%BE%E5%89%8D%E5%9F%8E"}
              %img{src: "/assets/520px-MatsumaeCastle.jpg",width: "400", height: "300"}
              %p 松前城
        %li.category-web
          .figure
            %a{href: "https://ja.wikipedia.org/wiki/%E8%8B%A5%E6%9D%BE%E5%9F%8E"}
              %img{src: "/assets/520px-March_2011_The_Aizu-Wakamatsu_Castle.jpg",width: "400",height: "300"}
              %p 会津若松城

    .footer_clip
      =render 'under'