.wrapper
  =render 'castlels/topp'

  .name
    .name__header
      %h1.name__header_siromei 備中松山城
    .name__header__adress
      %i.fa.fa-map-marker.name__header__adress_mark
      .name__header__adress_sales 〒716-0004 岡山県高梁市内山下1
      %i.fa.fa-clock-o.name__header__adress_clock
      .name__header__adress_time 営業時間 月~日 9:00~17:30

  .castle-photo
    .castle-photo__box
      = image_tag("photo/DSC_5411-1280x720.jpg")

  .detail
    .detail__point
      .detail__point_title 見所
      .detail__point_description
        %span
          天守が残る日本で唯一の山城で、江戸時代から残る現存天守12城のひとつ備中松山城。山城の周辺は、高さ10ｍ以上の巨大な岩壁がそびえ、”難攻不落の名城”の面影が残っています。最近は“雲海に浮かぶ天空の山城”として全国的に人気の撮影スポットとなっており、早朝から多くのファンが訪れています。幻想的な山城の風景を撮影するなら雲海展望台へ。

      -# .detail__point_detour.contory 寄り道
    .detail__history
      .detail__history_title 詳細
      .detail__history_comment
        %span
          岡山県高梁市にある国の重要文化財 備中松山城は、標高430メートルと、現存する天守閣がある山城としては最も高い場所に位置します。鎌倉時代に秋庭重信が城を築き、1683年に水谷勝宗が3年がかりで修築し現在の姿となりました。入城料は大人300円、小中学生150円。開城時間は10月～3月は9:00～16:30、 4月～9月は9:00～17:30 電車でのアクセス：備中高梁駅(JR伯備線)からバス
      -# .detail__history_money.fee 入場料
    .detail__map
      .detail__map_title お問い合わせ
      .detail__map_paste
        %iframe{:allowfullscreen => "", :frameborder => "0", :height => "450", :src => "https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3275.8757146329035!2d133.62029747944342!3d34.80906858050278!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3556b26be20cc569%3A0xdfc26a521fe06464!2z5YKZ5Lit5p2-5bGx5Z-O!5e0!3m2!1sja!2sjp!4v1562920272349!5m2!1sja!2sjp", :style => "border:0", :width => "600"}
      .detail__map_adress
        %i.fa.fa-map-marker.detail__map_adress_mark
        %span.detail__map_adress_code 〒716-0004 岡山県高梁市内山下1

  -# .word
  -#   .word__pillar
  -#     .word__pillar__mouse
  -#       .word__pillar__mouse_title
  -#         .word__pillar__mouse_title_text
  -#           口コミ
  -#     .word__pillar__container
  -#       .word__pillar__container__reviews
  -#         .word__pillar__container__reviews_name
  -#           %p.word__pillar__container__reviews_name_letter
  -#         .word__pillar__container__reviews_quoto
