.wrapper
  =render 'castle/topp'

  .name
    .name__header
      %h1.name__header_siromei 松江城
    .name__header__adress
      %i.fa.fa-map-marker.name__header__adress_mark
      .name__header__adress_sales 〒690-0887 島根県松江市殿町1-5
      %i.fa.fa-clock-o.name__header__adress_clock
      .name__header__adress_time 営業時間 月~日 8:30~18:30

  .castle-photo
    .castle-photo__box
      = image_tag("photo/15571505262927e-cYu9lEQoShewwZuVYuQXw_thumb_1713.jpg")

  .detail
    .detail__point
      .detail__point_title 見所
      .detail__point_description
        %span
          松江城の見どころは、黒くてクールでかっこいい四重五階の現存天守。また、松江城は2015年7月に「国宝」に指定されたばかりの話題のスポットでもあります！ 城郭としては、じつに63年ぶり5城目となる指定となりました。
          %br
          松江城の天守は付櫓が接続する複合式天守のため、天守に入る前に付櫓を通過します。ここでの見逃し禁止ポイントは、壁に空いた穴。この穴は「狭間」といって、鉄砲を撃つための小窓です。ほとんどが内側から外に向けて撃つための穴ですが、なんと天守から付櫓に向けても穴が空いている。

      -# .detail__point_detour.contory 寄り道
    .detail__history
      .detail__history_title 詳細
      .detail__history_comment
        %span
          松江のシンボル松江城は全国で現存する12天守のうち、国宝の一つで唯一の正統天守閣ともいわれております。
      -# .detail__history_money.fee 入場料
    .detail__map
      .detail__map_title お問い合わせ
      .detail__map_paste
      .detail__map_adress
        %i.fa.fa-map-marker.detail__map_adress_mark
        %span.detail__map_adress_code 〒690-0887 島根県松江市殿町1-5

  -# .word
  -#   .word__pillar
  -#     .word__pillar__mouse
  -#       .word__pillar__mouse_title
  -#         .word__pillar__mouse_title_text
  -#           口コミ
  -#     .word__pillar__container
  -#       .word__pillar__container__reviews
  -#         .word__pillar__container__reviews_name
  -#           %p.word__pillar__container__reviews_name_letter
  -#         .word__pillar__container__reviews_quoto
