.contents.row{
  background-image: url(https://cdn.fujiyama-navi.jp/entries/images/000/004/668/original/6688648b-443d-4f6b-a39f-be2240ea06e3.jpg?1516586033);
  background-repeat: no-repeat;
  background-size: cover;
  h2{
    text-align: center;
    height: 100px;
    line-height: 200px;
    font-size: 30px;
    font-weight: 200;
    padding-top: 35px;
  }
  .new_user{
    height: 690px;
    padding: 100px;
  }
  label{
    font-size: 20px;
  }
  #user_email{
    width: 100%;
    height: 40px;
    font-size: 18px;
    color: black;
    background: rgba(0,0,0,0.2);
    border: 1px solid #fff;
    margin-bottom: 20px;
  }
  #user_password{
    width: 100%;
    height: 40px;
    font-size: 18px;
    color: black;
    background: rgba(0,0,0,0.2);
    border: 1px solid #fff;
    margin-bottom: 20px;
  }
  #user_password_confirmation{
    width: 100%;
    height: 40px;
    font-size: 18px;
    color: black;
    background: rgba(0,0,0,0.2);
    border: 1px solid #fff;
    margin-bottom: 20px;
  }
  .actions{
    text-align: center;
  }
  input[type="submit"]{
    border-style: none;
    height: 40px;
    cursor: pointer;
    width: 300px;
    border-radius: 20px;
    font-size: 18px;
    border: 1px solid #fff;
    background: rgba(0,0,0,0.2);
  }
}