.contents.row{
  background-image: url(https://cdn.fujiyama-navi.jp/entries/images/000/004/668/original/6688648b-443d-4f6b-a39f-be2240ea06e3.jpg?1516586033);
  background-repeat: no-repeat;
  background-size: cover;
  h2{
    text-align: center;
    height: 100px;
    line-height: 90px;
    font-size: 30px;
  }
  label{
    font-size: 18px;
  }
  
}