.wrapper
  =render 'castle/topp'

  .name
    .name__header
      %h1.name__header_siromei 犬山城
    .name__header__adress
      %i.fa.fa-map-marker.name__header__adress_mark
      .name__header__adress_sales 〒484-0082 愛知県犬山市犬山北古券65-2
      %i.fa.fa-clock-o.name__header__adress_clock
      .name__header__adress_time 営業時間 月~日 9:00~16:30

  .castle-photo
    .castle-photo__box
      = image_tag("photo/o1080060714393101076.jpg")

  .detail
    .detail__point
      .detail__point_title 見所
      .detail__point_description
        %span
          まず注目したいのが、唐破風です。これは弓なりにカーブを描いている屋根の部分で、南面（正面）と北面につけられています。天守を見上げると、まず最初に目に飛び込んでくる印象的な破風で、犬山城天守の表情を決めているといっても過言ではありません。
          %br
          次に華頭窓です。天守最上部にある釣り鐘のような形の窓で、炎を思わせる曲線から「火灯窓」とも書かれます。格式が高く、神社仏閣に使われる様式です。
        

      -# .detail__point_detour.contory 寄り道
    .detail__history
      .detail__history_title 詳細
      .detail__history_comment
        %span
          国宝に指定されている犬山城は、1537年に建てられました。現存する天守では日本最古の様式となっています。天守の高さは約19メートル、石落としや入母屋破風があるなど戦国合戦の舞台となった歴史を感じることができます。当時の木材も多く残っていて、国宝としての重みも体感できます。近くに観光施設が多いので、犬山城を堪能したあとにも散策が楽しいエリアです。電車でのアクセス：犬山駅(名鉄)
      -# .detail__history_money.fee 入場料
    .detail__map
      .detail__map_title お問い合わせ
      .detail__map_paste
      .detail__map_adress
        %i.fa.fa-map-marker.detail__map_adress_mark
        %span.detail__map_adress_code 〒484-0082 愛知県犬山市犬山北古券65-2

  -# .word
  -#   .word__pillar
  -#     .word__pillar__mouse
  -#       .word__pillar__mouse_title
  -#         .word__pillar__mouse_title_text
  -#           口コミ
  -#     .word__pillar__container
  -#       .word__pillar__container__reviews
  -#         .word__pillar__container__reviews_name
  -#           %p.word__pillar__container__reviews_name_letter
  -#         .word__pillar__container__reviews_quoto
