.wrapper
  =render 'castle/topp'

  .name
    .name__header
      %h1.name__header_siromei 弘前城
    .name__header__adress
      %i.fa.fa-map-marker.name__header__adress_mark
      .name__header__adress_sales 〒036-8551 青森県弘前市下白銀町1
      %i.fa.fa-clock-o.name__header__adress_clock
      .name__header__adress_time 営業時間 月~日

  .castle-photo
    .castle-photo__box
      = image_tag("photo/topheader.jpg")

  .detail
    .detail__point
      .detail__point_title 見所
      .detail__point_description
        %span
          現存している本丸の天守は『御三階櫓（ごさんがいやぐら）』は元々はロシアから来る船の監視や万が一の襲来に対応する目的で作られた物であり幕府への配慮から御三階櫓と呼ばれていましたが、弘前城の事実的な天守閣（軍事拠点）として機能していました。
          %br
          日本三大桜名所と日本三大夜桜のダブル指定は日本唯一で、一生に一度は見ておきたい桜祭りです。

      -# .detail__point_detour.contory 寄り道
    .detail__history
      .detail__history_title 詳細
      .detail__history_comment
        %span
          弘前藩の初代藩主津軽為信の意思を継ぎ、1611年2代目藩主信枚が高岡城を完成させました。当時5層あった天守は1627年に焼失し(翌年高岡から弘前に改名)、現存している3層の天守は1810年に9代目藩主寧親が築きました。江戸時代より現存している天守は、東北地方唯一であるとともに全国の天守でも代表的なものです。 天守は、国指定重要文化財や国の史跡にも指定されています。毎年春に行われる弘前の桜まつりは有名で多くの観光客で賑わいます。電車でのアクセス：弘前駅(JR)からバス
      -# .detail__history_money.fee 入場料
    .detail__map
      .detail__map_title お問い合わせ
      .detail__map_paste
      .detail__map_adress
        %i.fa.fa-map-marker.detail__map_adress_mark
        %span.detail__map_adress_code 〒036-8551 青森県弘前市下白銀町1

  -# .word
  -#   .word__pillar
  -#     .word__pillar__mouse
  -#       .word__pillar__mouse_title
  -#         .word__pillar__mouse_title_text
  -#           口コミ
  -#     .word__pillar__container
  -#       .word__pillar__container__reviews
  -#         .word__pillar__container__reviews_name
  -#           %p.word__pillar__container__reviews_name_letter
  -#         .word__pillar__container__reviews_quoto
