.wrapper
  =render 'castle/topp'

  .name
    .name__header
      %h1.name__header_siromei 熊本城
    .name__header__adress
      %i.fa.fa-map-marker.name__header__adress_mark
      .name__header__adress_sales 〒860-0002 熊本県熊本市中央区本丸1-1

      %i.fa.fa-clock-o.name__header__adress_clock
      .name__header__adress_time 営業時間 月~日

  .castle-photo
    .castle-photo__box
      = image_tag("photo/2ca844ad9a0a81fe2291b4529dcba8a7.jpg")

  .detail
    .detail__point
      .detail__point_title 見所
      .detail__point_description
        %span
          場内の櫓の数は49カ所にも上ります。ここにも清正が作った籠城に対する徹底さが垣間見えますね。櫓は籠城の時には防戦の拠点ともなる建築物。本城の堅牢さを知る、最大の特長の一つが石垣です。熊本城の石垣は特殊な構造をしており、下の方は緩やかで、上に登るにしたがって垂直になる構造をしています。この構造は「武者返し」と言われる石垣で、這い上がることがきわめて困難なものとなっています。


      -# .detail__point_detour.contory 寄り道
    .detail__history
      .detail__history_title 詳細
      .detail__history_comment
        %span
          熊本城は、現在の熊本県熊本市中央区に築かれた安土桃山時代から江戸時代の日本の城。別名「銀杏城（ぎんなんじょう）」。加藤清正が中世城郭を取り込み改築した平山城で、加藤氏改易後の江戸時代の大半は熊本藩細川家の居城。明治の西南戦争の戦場となった。西南戦争の直前に大小天守や御殿など本丸の建築群が焼失し、現在の天守は1960年の再建である。宇土櫓などの現存する櫓・城門・塀13棟は国の重要文化財に指定されている。
      -# .detail__history_money.fee 入場料
    .detail__map
      .detail__map_title お問い合わせ
      .detail__map_paste
        %iframe{:allowfullscreen => "", :frameborder => "0", :height => "450", :src => "https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3353.474670103108!2d130.70365017938613!3d32.80618588105638!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3540f40e023aca59%3A0x5e8b66c876cde430!2z54aK5pys5Z-O!5e0!3m2!1sja!2sjp!4v1562922047375!5m2!1sja!2sjp", :style => "border:0", :width => "600"}
      .detail__map_adress
        %i.fa.fa-map-marker.detail__map_adress_mark
        %span.detail__map_adress_code 〒860-0002 熊本県熊本市中央区本丸1-1


  -# .word
  -#   .word__pillar
  -#     .word__pillar__mouse
  -#       .word__pillar__mouse_title
  -#         .word__pillar__mouse_title_text
  -#           口コミ
  -#     .word__pillar__container
  -#       .word__pillar__container__reviews
  -#         .word__pillar__container__reviews_name
  -#           %p.word__pillar__container__reviews_name_letter
  -#         .word__pillar__container__reviews_quoto
