.wrapper
  =render 'castles/topp'

  .name
    .name__header
      %h1.name__header_siromei 岡山城
    .name__header__adress
      %i.fa.fa-map-marker.name__header__adress_mark
      .name__header__adress_sales  〒700-0823 岡山県岡山市丸の内2-3-1
      %i.fa.fa-clock-o.name__header__adress_clock
      .name__header__adress_time 営業時間 月~日 9:00~17:30

  .castle-photo
    .castle-photo__box
      = image_tag("photo/xlarge_628e5742-d682-4e4c-8c48-3f1e58de2da5.jpeg")

  .detail
    .detail__point
      .detail__point_title 見所
      .detail__point_description
        %span
          日本三大名園の一つである岡山市の「後楽園」は岡山城から徒歩400ｍの近さですので、両方をいっしょに楽しむのが人気です。「後楽園」は元々、藩主池田綱政が家臣の池田永忠に築造させた回遊式庭園ですが、「後楽園」という名称は明治4年から使用されています。岡山観光には絶対に外せないスポットです。のんびり回るのがおすすめです。

      -# .detail__point_detour.contory 寄り道
    .detail__history
      .detail__history_title 詳細
      .detail__history_comment
        %span
          宇喜多秀家によって1597年に建造されたお城です。秀家はあの豊臣秀吉に厚遇されていたので、このお城も秀吉に指導を受けて築城したといわれています。この頃の時代の特徴で、天守閣の壁には黒漆塗りの下見板が付いているので外観が黒色であり、「烏城」とも呼ばれます。なお天守閣は太平洋戦争で焼失しましたが、1966年に再建されています。最上階の6階は展望室になっており岡山市街を一望できます。
      -# .detail__history_money.fee 入場料
    .detail__map
      .detail__map_title お問い合わせ
      .detail__map_paste
        %iframe{:allowfullscreen => "", :frameborder => "0", :height => "450", :src => "https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3281.584691751073!2d133.93387467943924!3d34.66518998053936!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x355406250dd61f11%3A0x8e7f5ecba47835ba!2z5bKh5bGx5Z-O!5e0!3m2!1sja!2sjp!4v1562924391257!5m2!1sja!2sjp", :style => "border:0", :width => "600"}
      .detail__map_adress
        %i.fa.fa-map-marker.detail__map_adress_mark
        %span.detail__map_adress_code 〒700-0823 岡山県岡山市丸の内2-3-1

  -# .word
  -#   .word__pillar
  -#     .word__pillar__mouse
  -#       .word__pillar__mouse_title
  -#         .word__pillar__mouse_title_text
  -#           口コミ
  -#     .word__pillar__container
  -#       .word__pillar__container__reviews
  -#         .word__pillar__container__reviews_name
  -#           %p.word__pillar__container__reviews_name_letter
  -#         .word__pillar__container__reviews_quoto
