.wrapper{
  background-color: #fafafa;
}

.top-inner{
  margin: 0 auto;
  &_clip{
    display: block;
    display: inline-block;
    @media only screen and(min-width: 1000px){
      margin-left: 20px;
      margin-right: 20px;
    }

    .category{
      zoom: 1;
      .category-web{
        height: 321px;
        list-style: none;
        padding: 0 0 20px 20px;
        @media only screen and(min-width: 700px){
          width: 300px;
          float: left;
        }

        .figure{
          margin: 0;
        }

        a{
          text-decoration: none;
        }

        img{
          max-width: 100%;
        }
        p{
          text-align: center;
          padding-top: 3px;
          font-weight: bold;
        }
      }
    }
  }
}

.word{
  height: 1000px;
}

p{
  color: #3a3a3a;
}

ul{
  margin: 0;
  height: 0;
  list-style-position: inside;
}