.top-pape{
  width: 100%;
  &__site{
    text-align: center;
    padding: 70px 0 10px 0;
    height: 60px;
    @media only screen and (min-width: 650px){
      padding: 30px 0 30px 0;
    }
    &_title{
      padding: 0 0 5px 0;
      font-size: 35px;
      margin: 0 0 0 8px ;
      height: 60px;
      font-size: 50px;
    }
    i{
      font-size: 30px;
      position: absolute;
      left: 60px;
      top: 60px;
      display: block;
    }
    h1{
      font-weight: 100;
    }
    ul{
      list-style: none;
    }
    .side-warap{
      float: left;
      &__bar{
        width: 440px;
        height: 570px;
        position: absolute;
        left: 40px;
        top: 100px;
        background:#fff;
        display:none;
        &_list{
          width:220px;
          height: 50px;
          h3{
            font-size: 14px;
            line-height: 45px;
            font-weight: 300;
            float: left;
            padding:0 20px;
          }
        }
      }
    }
    a{
      text-decoration: none;
      color: #3a302d;
      letter-spacing: 5px;
    }
  }
}

