.top-pape{
  width: 100%;

  
  &__site{
    text-align: center;
    padding: 70px 0 10px 0;
    height: 100px;
    @media only screen and (min-width: 650px){
      padding: 30px 0 30px 0;
    }
    &_title{
      padding: 0 0 5px 0;
      font-size: 35px;
      margin: 0 0 0 8px ;
      height: 60px;
      font-size: 50px;
    }
    
    i{
      font-size: 30px;
      position: absolute;
      left: 60px;
      top: 60px;
      display: block;
    }

    h1{
      font-weight: 100;
    }

    .side-bar{
      display: none;
    }
    a{
      text-decoration: none;
      color: #3a302d;
      letter-spacing: 5px;
    }
  }

}

