.top-pape{
  width: 100%;
  &__site{
    text-align: center;
    padding: 70px 0 10px 0;
    height: 60px;
    @media only screen and (min-width: 650px){
      padding: 30px 0 30px 0;
    }
    &_title{
      padding: 0 0 5px 0;
      font-size: 35px;
      margin: 0 0 0 8px ;
      height: 60px;
      font-size: 50px;
    }
    .side-warap{
      float: left;
      .side-warap__bar>li{
          position: relative;
          display: inline-block;
          padding: 0 11px;
          cursor: pointer;
      }
      
      &__bar{
        h2{
          position: absolute;
          top: -50px;
          left: 60px;

          display: block;
        }
        &_parent{
          position: relative;
          height: 44px;
          display:block;
          i{
            color: #000000;
            font-size: 30px;
          }
        }
        &_mega{
          width: auto;
          position: absolute;
          top: -20px;
          z-index: 1000;
          height: 330px;
          background: #fff;
          text-align: left;

          &_list{
            width: 224px;
            display:none;
            
            h3{
              padding: 0 16px;
              font-weight: 400;
              line-height: 44px;
            }
            h3:hover{
              background: #ea352d;
              color: #fff;
            }
            &_second{
              position: absolute;
              top: 0;
              left: 224px;
              background: #fff;
              height: 44px;
              &_post{
                display:none;
                width: 224px;
                &_category{
                  font-weight: 400;
                  font-size: 14px;
                }
              }
            }
          }
        }
      }
    }
    
    .side-warap__bar>li:hover
    .side-warap__bar_mega_list{
      display:block;
    }
    .side-warap__bar_mega_list:hover>ul .side-warap__bar_mega_list_second_post{
      display:block;
    }
    h1{
      font-weight: 100;
    }
    ul{
      list-style: none;
    }
  
    a{
      text-decoration: none;
      color: #3a302d;
      letter-spacing: 5px;
    }
  }
}

