.wrapper
  =render 'topp'
  
  .top-inner
    .top-inner_clip
      %ul.category
        %li.category-web
          .figure
            %a{href: "/castles/1"}
              %img{src: "/assets/gaikan_003-2-1.jpg",width:"400",height:"300"}
              %p 大阪城
        %li.category-web
          .figure
            %a{href:"/himeji"}
              %img{src:"/assets/22106-06ufbtXC7xBz19vb02yE_lrg_re.jpg",width: "400",height: "300"}
              %p 姫路城
        %li.category-web
          .figure
            %a{href: "/nagoya"}
              %img{src: "/assets/nagoyajo-sakematsuri1.jpg",width: "400",height: "300"}
              %p 名古屋城
        %li.category-web
          .figure
            %a{href: "/hikone"}
              %img{src: "/assets/pic30_06main.jpg",width: "400",height: "300"}
              %p 彦根城
        %li.category-web
          .figure
            %a{href:"/iyomatuyama"}
              %img{src: "/assets/matuyama.jpeg",width: "400",height: "300"}
              %p 伊予松山城
        %li.category-web
          .figure
            %a{href:  "/gihu"}
              %img{src: "/assets/100174.jpg",width:"400",height: "300"}
              %p 岐阜城
        %li.category-web
          .figure
            %a{href: "/takeda"}
              %img{src: "/assets/600px-竹田城.jpeg",width: "400",height: "300"}
              %p 竹田城跡
        %li.category-web
          .figure
            %a{href: "matumoto"}
              %img{src: "/assets/130608_Matsumoto_Castle_Matsumoto_Nagano_pref_Japan02bs4.jpg", width: "400", height: "300"}
              %p 松本城
        %li.category-web
          .figure
            %a{href: "/kumamoto"}
              %img{src: "/assets/熊本城.jpeg",width: "400", height: "300"}
              %p 熊本城
        %li.category-web
          .figure
            %a{href: "/inuyama"}
              %img{src: "/assets/犬山城.jpeg",width: "400",height: "300"}
              %p 犬山城
        %li.category-web
          .figure
            %a{href: "/nijou"}
              %img{src: "/assets/1920px-Nijo-jo_Ninomaru-goten_2009.jpg",width: "400", height: "300"}
              %p 二条城
        %li.category-web
          .figure
            %a{href: "/ueda"}
              %img{src: "/assets/1920px-Ueda_Castle_Amagafuchi.jpg",width: "400", height: "300"}
              %p 上田城
    .footer_clip
      =render 'under'




