.wrapper
  =render 'castle/topp'

  .name
    .name__header
      %h1.name__header_siromei 竹田城
    .name__header__adress
      %i.fa.fa-map-marker.name__header__adress_mark
      .name__header__adress_sales 〒669-5252 兵庫県朝来市和田山町竹田169

      %i.fa.fa-clock-o.name__header__adress_clock
      .name__header__adress_time 営業時間 月~日

  .castle-photo
    .castle-photo__box
      = image_tag("photo/41.jpg")

  .detail
    .detail__point
      .detail__point_title 見所
      .detail__point_description
        %span
          竹田城跡は、山城遺跡として全国でもまれな完存する遺構であり、虎が臥せているように見えることから「虎臥城（とらふすじょう・こがじょう）」とも呼ばれています。晩秋のよく晴れた早朝に朝霧が発生することがあり、但馬地方の風物詩となっています。この雲海に包まれた姿は、まさに天空に浮かぶ城を思わせ、いつの間にか「天空の城」・「日本のマチュピチュ」とも呼ばれるようになりました。この幻想的な風景を一目見ようとたくさんの人々が訪れます。

      -# .detail__point_detour.contory 寄り道
    .detail__history
      .detail__history_title 詳細
      .detail__history_comment
        %span
          竹田城（たけだじょう）は、現在の兵庫県朝来市和田山町竹田にあった日本の城（山城）。(Wikipedia引用)
      -# .detail__history_money.fee 入場料
    .detail__map
      .detail__map_title お問い合わせ
      .detail__map_paste
      .detail__map_adress
        %i.fa.fa-map-marker.detail__map_adress_mark
        %span.detail__map_adress_code 〒669-5252 兵庫県朝来市和田山町竹田169


  -# .word
  -#   .word__pillar
  -#     .word__pillar__mouse
  -#       .word__pillar__mouse_title
  -#         .word__pillar__mouse_title_text
  -#           口コミ
  -#     .word__pillar__container
  -#       .word__pillar__container__reviews
  -#         .word__pillar__container__reviews_name
  -#           %p.word__pillar__container__reviews_name_letter
  -#         .word__pillar__container__reviews_quoto
